// MP Navigation
$odin-theme: "mercadolibre";
@import '~odin-core_ui/lib/styles';
@import '~@andes/common/index';

$andes-yellow-400: #fff159;
$andes-yellow-500: #FFE600;

$shadow-light: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-medium: 0 14px 28px rgba(0, 0, 0, 0.06), 0 10px 10px rgba(0, 0, 0, 0.03);
$shadow-heavy: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

$custom-color-blue-dark: #151E23;
$custom-color-blue-light:#162630;